<div class="row">
    <header id="header">
        <div class="col-md-10">
            <a href="index"><img src="../../../../public/images/logo-putih.png" class="icon-app"></a>
            <span class="app-name"> | App Name v.1.0</span>
            <i class="fa fa-bars toggle-menu" (click)="changeStatus()"></i>
        </div>
        <div class="col-md-2"><span class="btn-logout"><!--<a class="btn btn-warning">Logout</a>--><a href="#"><i
                class="fa fa-power-off" title="Logout"></i></a></span><span class="user-login" href="#"
                                                                            title="Profile Page"> Hi, Administrator</span>
        </div>
    </header>
</div>

