<div class="sidebar_menu" [class.show_menu]="isOpen">

    <ul class='nav_selection'>
        <li class='nav_item' href="#"><i class='fa fa-dashboard'> Dashboard</i></li>
        <li class='nav_item' href="#"><i class='fa fa-dropbox'> Menu A</i></li>
        <li class='nav_item' href="#"><i class='fa fa-database'> Menu B</i></li>
        <li class='nav_item' href="#"><i class='fa fa-credit-card'> Menu C</i></li>
        <li class='nav_item' href="#"><i class='fa fa-codepen'> Menu D</i></li>
    </ul>

</div>